#{extends 'main.html' /}
#{set title:'Home' /}

<form action="" method="post">
    <fieldset>
        <legend>Login</legend>
        <input name="login" size="37" type="text" id="login"/>
    </fieldset>
    <fieldset>
        <legend>Senha</legend>
        <input name="senha" size="37" type="password" id="senha" />
    </fieldset>
    <fieldset>
        <legend></legend>
        <input name="entrar" value="  Entrar  " type="submit" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="reset" type="reset" value="  Limpar  " />
    </fieldset>
</form>
